$primary-color: antiquewhite;
$secondary-color: #000;
$calculator-color: #20303B;
$calculator-screen: #598F70;
$calculator-text: #050F0D;

@font-face {
  font-family: 'LED Sled Straight';
  src: url('/styles/fonts/LEDSledStraight.woff2') format('woff2'),
      url('/styles/fonts/LEDSledStraight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NinePin';
  src: url('/styles/fonts/NinePin.woff2') format('woff2'),
      url('/styles/fonts/NinePin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}