* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  background-color: papayawhip;
  color: #259A40;
}

.glass {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.6), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.6), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header h1 {
  height: 20vh;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #0f0;
  text-align: center;
  margin: 0;
  color: #000;
  padding-top: .6em;
  line-height: .8em;
}

header h1 span {
  font-size: 3em;
}

.sidebar {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5vh;
}

.sidebar-button {
  width: 80%;
  height: 10vh;
  border: 2px solid #259A40;
  border-radius: 10px;
  background-color: papayawhip;
  color: #259A40;
}

.sidebar-button:hover {
  background-color: #259A40;
  color: papayawhip;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar-button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 3px 2px #0f0;
          box-shadow: 0 0 3px 2px #0f0;
  background-color: #259A40;
  color: papayawhip;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.row {
  margin-left: 0;
  margin-right: 0;
  list-style-type: none;
}

.listBox {
  height: 80vh;
  overflow: scroll;
  padding: 0;
}

.complete {
  background-color: #259A40;
  color: papayawhip;
}
/*# sourceMappingURL=styles.css.map */